[Unit]
Description=Manage CPU Fan of Tegra TX1

[Service]
ExecStart=/bin/sh -c "echo 255 > /sys/kernel/debug/tegra_fan/target_pwm"
ExecStop=/bin/sh -c "echo 0 > /sys/kernel/debug/tegra_fan/target_pwm"
Type=oneshot
User=root
Group=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target